body {
    margin: 0px;
    font-family: "Gardens";
}

/**************************
 *       Start page       *
 **************************/

#left_side {
    height: 100%;
    width: 500px;
    box-shadow: 1px 0px 20px black;
    float: left;
    background-color: white;
}
#right_side {
    height: 100%;
    width: calc(100% - 500px);
    float: left;
    background: linear-gradient(0.25turn, #3f87a6, #d0fbaf, #f69d3c);
    overflow-y: scroll;
}

#central_block {
    max-width: 1920px;
    margin: auto;
}

@media(min-width: 1921px) {
    body {
        background: linear-gradient(0.25turn, #3f87a6, #d0fbaf, #f69d3c);
    }
    #right_side {
        background: none;
    } 
}
body a {
    color: black;
}

/* #room_create {

} */
#room_create h1 {
    text-align: center;
    margin-top: 50%;
}
#room_create p {
    text-align: center;
    font-size: 23px;
    width: 70%;
    margin: auto;
}
#room_create_button {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    display: grid;
}
#room_create_button input {
    float: left;
    font-family: Gardens;
    text-align: center;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    outline: none;
}
#room_create button {
    float: left;
    background: white;
    border: solid black 1px;
    padding: 13px;
    border-radius: 10px;
    font-family: Gardens;
    font-size: 20px;
    outline: none;
    transition: box-shadow 300ms;
}
#room_create button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#right_side_title {
    margin: 25px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
#right_side_title h1 {
    margin: 0px;
}
#recomendation_list {
    margin: auto;
    width: 50%;
    min-width: 800px;
    text-align: center;
}
.recomendation_iframe {
    background: rgba(255,255,255,.4);
    width: 752px;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#input_url {
    transition: all 500ms;
}

@media(max-width: 1390px) {
	#recomendation_list {
		min-width: 600px;
	}
	.recomendation_iframe {
		width: 600px;
	}
	.recomendation_iframe iframe {
		width: 600px;
		height: 337.5px;
	}
}

@media(max-width: 1180px) {
	#left_side {
		width: 100%;
	}
	#room_create h1 {
		margin-top: 15%;
	}
}

/**************************
 *      Player page       *
 *************************/

#player_body {
    /* border: 1px solid black; */
    width: 900px;
    height: auto;
    margin: auto;
    text-align: center;
    background: white;
}
#player_header {
    font-size: 20px;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 4px 5px #96ef0e;
    padding: 13px;
    text-align: left;
}
#player_main {
    position: relative;
    width: 100%;
    box-shadow: 0 5px 7px greenyellow;
    margin-top: -4px;
    padding-top: 20px;
    padding-bottom: 230px;
}
#player_header ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 20px;
}
#player_header li { 
    width: fit-content;
    /* box-shadow: 0 0 0 greenyellow; */
    transition: box-shadow 300ms;
}
#player_header li:hover {
    cursor: pointer;
    /* box-shadow: 0 3px 2px greenyellow; */
}
#player_body #player {
    margin: 15px 0 0 0;
}
#player_info {
    margin: 105px 0 0 0;
    font-size: 20px;
}
#player_info span {
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: darkgray;
}

#synchronized, #new_video {
    background: white;
    border: solid black 1px;
    padding: 13px;
    border-radius: 10px;
    font-family: Gardens;
    font-size: 20px;
    outline: none;
    transition: box-shadow 300ms;
}
#synchronized:hover, #new_video:hover {
	cursor: pointer;
    box-shadow: 0 0 5px black;
}

#reload_video {
	display: grid;
    margin: auto;
    width: 35%;
}
#new_url {
	margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Gardens;
    font-size: 18px;
    padding: 6px;
    outline: none;
}

@media(max-width: 900px) {
	#player_body {
		width: 100%;
	}
	iframe {
		width: 100%;
	}
}



/* PAGE NOT FOUND */
#not_found_container {
    text-align: center;
    padding: 100px;
}


@font-face {
    font-family: "Gardens";
    src: url('20011.ttf') format("opentype");
}